# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Flask uploads
uploads/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Audio cache
audio_cache/

# OS files
.DS_Store
Thumbs.db